<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h2>PÁGINA DE LOGIN</h2>
    <form method="post" action="/auth">
        <label for="usuario">Usuário:</label><br>
        <input type="text" id="usuario" name="usuario"><br>
        <label for="senha">Senha:</label><br>
        <input type="password" id="senha" name="senha"><br><br>
        <input type="submit" value="ENTRAR">
    </form>
</body>
</html>
