<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações do Usuário</title>
    <link rel="stylesheet" href="/css/usuario.css">
</head>
<body>
    <div id="user-info" class="container">
        <h2>INFORMAÇÕES DO USUÁRIO</h2>
        <p>Nome de usuário: <%= usuario %></p>
        <p>Senha: <%= senha %></p>
    </div>
    <div class="button-container">
        <button><a href="/pagina_usuario">VOLTAR</a></button>
    </div>
</body>
</html>
